// Home 4
.personal-info {
    &--minus {
        margin-bottom: -195px;
    }
}
.personal-img {
    display: inline-block;
}

.consult {
    &__bg {
        background-attachment: inherit;
        &--h5 {
            background: $color-grey-2;
            padding-left: 70px;
            padding-right: 70px;
            overflow: hidden;
            @media #{$d-xs} {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    &__shape {
        position: absolute;
    }
    &__shape1 {
        left: 200px;
        bottom: 20px;
    }
    &__shape2 {
        top: 58px;
        right: 182px;
    }
}

// Sidebar
.btn-menu-main {
    background: #152136;
    height: 100%;
    padding: 30px;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.7s ease 0s;
    width: 340px;
    z-index: 9999;
    transform: translateX(100%);
    padding-bottom: 40px;
}

.btn-menu-main-right {
    transform: translateX(0);
}

.crose {
    color: #fff;
    float: right;
    cursor: pointer;
}
/* extra info */
.logo-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.extra-info>p {
    color: #ddd;
    font-size: 15px;
    line-height: 28px;
}

.instagram img {
    width: 100%;
}

.social-icon-right>a {
    color: #fff;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.social-icon-right>a:hover {
    color: #ff4a57;
}

.instagram {
    overflow: hidden;
    margin: 0 -4px;
}

.instagram>a {
    float: left;
    width: 33.33%;
    padding: 0 4px;
    margin-bottom: 7px;
}

.side-info {
    border-top: 1px solid #344159;
    padding-top: 25px;
}

.contact-list h4 {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.contact-list p {
    color: #fff;
    opacity: .5;
    margin: 0;
    margin-bottom: 2px;
}

/* Menu Search
-------------------------------------------------------*/
.nav-search {
    position: relative;
    display: block;
    color: inherit;
}

.nav-search:hover {
    color: inherit;
}

.search-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 121;
    background: rgba(0, 0, 0, .9);
}

.search-wrap .search-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.search-wrap .search-cell {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.search-wrap .search-field-holder {
    width: 50%;
    margin: auto;
    position: relative;
    animation: slideInUp .3s;
}

.search-wrap .main-search-input {
    width: 100%;
    height: 70px;
    border: 0;
    padding: 0 50px;
    text-transform: uppercase;
    background: transparent;
    font-size: 25px;
    color: #fff;
    border-bottom: 2px solid #898989;
    text-align: center;
    letter-spacing: 2px;
}

.search-wrap input.form-control,
.search-wrap input.form-control:focus {
    background-color: #fff;
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

input.main-search-input::-webkit-input-placeholder {
    color: #fff;
    font-size: 25px;
}

input.main-search-input::-moz-placeholder {
    color: #fff;
    opacity: 1;
    font-size: 25px;
}

input.main-search-input:-ms-input-placeholder {
    color: #fff;
    font-size: 25px;
}

.search-close {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.progress-circular {
    height: 109px;
    margin-right: 30px;
}
.skill-circle-text>p {
    margin-bottom: 0;
}

/*==================== Click Top ====================*/
.scroll-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    padding: 0;
    line-height: 1;
    width: 60px;
    height: 60px;
    border: 0;
    -webkit-animation: jump 3.5s linear infinite;
    animation: jump 3.5s linear infinite;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 32px 0px rgba(197, 197, 197, 0.4);
    color: #221f3c;
    @include transition (.4s);
}

.scroll-top:hover {
    background: #221f3c;
    color: #fff;
}