/*----------------------------------------*/
/*  05. Services
/*----------------------------------------*/
.service{
    &__block {
        padding-right: 0px;
        &--h3 {
            padding: 50px 35px;
            @include transition (.3s);
            @media #{$d-lg} {
                padding: 50px 30px;
            }
            & p {
                line-height: 30px;
                @include transition (.3s);
            }
            &:hover {
                background: $theme-color;
                & p, & i::before, & a, & h4 {
                    color: $color-text-2 !important;
                    @include transition (.3s);
                }
            }
            & img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &--h4 {
            padding: 60px 41px;
            border: 1px solid $border-color-3;
            @include transition (.3s);
            @media #{$d-lg} {
                padding: 60px 30px;
            }
            &:hover {
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 10px 32px 0px rgba(197, 197, 197, 0.4);
                @include transition (.3s);
                border: 1px solid transparent;
            }
        }
        &--h5 {
            padding: 10px;
            @include transition (.3s);
            &:hover {
                .service__thumb--h5 img {
                    transform: scale(1.1);
                    @include transition (.3s);
                }
            }
        }
        &--h6 {
            background: $color-blue-soft-5;
        }
    }
    .shape {
        position: absolute;
        &--line{
            top: 0;
            left: 0;
        }
        &--mimg{
            right: 220px;
            bottom: 0;
            z-index: 1;
            @media #{$d-la} {
                right: 0;
            }
            @media #{$d-lg} {
                max-width: 325px;
                right: 30px;
            }
        }
        &--mibg{
            bottom: 75px;
            right: 190px;
            animation: jump2 4s linear infinite;
            @media #{$d-la} {
                right: 0;
            }
            @media #{$d-lg} {
                max-width: 300px;
                right: 30px;
            }
        }
        &--h4 {
            right: 80px;
            top: 110px;
        }
        &--h42 {
            bottom: 174px;
            left: 0;
        }
    }
    &__icon {
        position: absolute;
        left: 12px;
        top: 14px;

        &::before {
            font-size: 63px;
            color: $theme-color;
            display: inline-block;
            line-height: 1;
        }
        &--h3 {
            position: static;
            display: inline-block;
            margin-bottom: 30px;
        }
        &--h5 {
            & span {
                display: inline-block;
                line-height: 1;
                margin-right: 20px;
                &::before {
                    font-size: 50px;
                    color: $theme-color;
                }
            }
        }
        &--h6 {
            & span {
                margin-right: 25px;
                &::before {
                    color: $color-white;
                }
            }
        }
    }
    &__shape {
        margin-bottom: 29px;
        animation: rotated 20s infinite linear;
    }
    &__content--h2 {
        z-index: 11;
        position: absolute;
        bottom: 0;
        padding: 30px 40px 30px;
        width: 100%;
        @media #{$d-lg} {
            padding: 30px 25px 30px;
        }
        @media #{$d-xs} {
            padding: 30px 25px 30px;
        }
        & span {
            display: inline-block;
            &::before {
                font-size: 65px;
            }
        }
        & h4 {
            margin-bottom: 4px;
            @media #{$d-lg} {
                font-size: 18px;
            }
        }
        & p {
            margin-bottom: 9px;
            color: $color-text-2;
        }
        & a {
            & i {
                font-size: 28px;
            }
            &:hover i {
                color: $hover-color-light;
                @include transition (.4s)
            }
        }
    }
    &__block--h2 {
        @include transition(.3s);
        &:hover img {
            transform: scale(1.2);
            @include transition(.3s);
        }
    }
    &__thumb--h2 {
        &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            bottom: 0;
            top: 0;
            left: 0;
            background-image: -moz-linear-gradient(90deg, rgba(34, 31, 60, 0.96863) 0%, rgba(34, 31, 60, 0.65) 43%, rgba(34, 31, 60, 0.48) 65%, rgba(34, 31, 60, 0) 100%);
            background-image: -webkit-linear-gradient(90deg, rgba(34, 31, 60, 0.96863) 0%, rgba(34, 31, 60, 0.65) 43%, rgba(34, 31, 60, 0.48) 65%, rgba(34, 31, 60, 0) 100%);
            background-image: -ms-linear-gradient(90deg, rgba(34, 31, 60, 0.96863) 0%, rgba(34, 31, 60, 0.65) 43%, rgba(34, 31, 60, 0.48) 65%, rgba(34, 31, 60, 0) 100%);
            z-index: 1;
        }
    }
    &__icon--h4 {
        display: inline-block;
        line-height: 1;
        margin-bottom: 32px;
        &::before {
            font-size: 88px;
            color: $color-black;
        }
    }
    &__link--h4 {
        height: 50px;
        display: inline-block;
        width: 50px;
        line-height: 47px;
        font-size: 17px;
        border: 2px solid $border-color-3;
        border-radius: 50%;
    }
    &__content {
        &--h5 {
            display: flex;
            padding: 40px 20px 20px;
        }
        &--h6 {
            padding: 35px 30px 30px;
            @media #{$d-md} {
                padding: 35px 20px 30px;
            }
        }
    }
    &__text{
        &--h5 {
            margin-top: -5px;
            & h4 {
                margin-bottom: 10px;
            }
            & p {
                margin-bottom: 7px;
            }
            & a {
                font-size: 24px;
                line-height: 1;
            }
        }
        &--h6 {
            & h4 {
                margin-bottom: 5px;
            }
            & a {
                font-size: 15px;
                font-weight: 700;
                &:hover {
                    color: $hover-color-light;
                }
                & i {
                    padding-left: 10px;
                    font-size: 18px;
                    vertical-align: middle
                }
            }
        }
    }
    &__play {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        left: 0;
    }
    &__row{
        padding-left: 42px;
        &--h6 {
            .col {
                padding-right: 5px;
                padding-left: 5px;
            }
        }
    }
}

.link-more{
    text-decoration: underline;
    @include transition(.3s);
    position: relative;
    z-index: 1;
    &:hover{
        color: $theme-color;
        @include transition(.3s);
    }
}

.case {
    padding-left: 55px;
    padding-right: 55px;
    @media #{$d-lg} {
        padding-left: 0px;
        padding-right: 0px;
    }
    @media #{$d-md} {
        padding-left: 0px;
        padding-right: 0px;
    }
    @media #{$d-xs} {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.securiy-services {
    transition: .4s;
}
.securiy-services:hover {
    background: #221f3c;
    transition: .4s;
    .service__icon--h5 span::before,
    .service__text--h5 h4,
    .service__text--h5 p,
    .service__text--h5 a {
        color: #fff;
        transition: .4s;
    }
}