/*----------------------------------------*/
/*  15. Video
/*----------------------------------------*/
.video {
    padding: 224px 0;
    &__caption {
        & a {
           height: 150px;
           width: 150px;
           display: inline-block;
           text-align: center;
           line-height: 150px;
           background: #ffffff;
           border-radius: 50%;
           font-size: 20px;
           color: #221f3c;
           margin: 0 auto;
           margin-bottom: 0px;
           transition: .4s;
           margin-bottom: 65px;
           &:hover {
               background: $theme-color;
               color: $color-white;
           }
        }
    }
}